/* thanks to https://codepen.io/yshlin/pen/ylDEk */
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: -74px -40.66667px #ffe100, -231px -168.66667px #00e6ff, -54px -351.66667px #001eff, 50px -289.66667px #ff0040, 160px -345.66667px #ff6200, -34px -6.66667px #ff00e1, -76px -371.66667px #00ffee, 127px -245.66667px #77ff00, 193px -180.66667px #ff0077, -187px -63.66667px #00ff77, -1px -208.66667px #0011ff, 24px 26.33333px #11ff00, -42px -262.66667px #15ff00, 243px -315.66667px #00ff1a, -33px -102.66667px #ff0037, -213px -299.66667px #ff0091, -222px -378.66667px #ae00ff, 9px 77.33333px #00ffe1, -205px 24.33333px #8800ff, -75px -373.66667px #ff00e1, -158px -35.66667px deepskyblue, 158px -229.66667px #22ff00, 220px -209.66667px #04ff00, -227px -292.66667px #00ff59, 238px -344.66667px #ff6200, -30px -95.66667px #ff004d, -28px -50.66667px #ee00ff, 185px -391.66667px #ff6200, 44px -23.66667px #ff00bb, -117px -222.66667px #3c00ff, 245px -8.66667px #ffcc00, -12px -35.66667px #00fbff, 231px -395.66667px magenta, -140px -127.66667px #00ffa6, -34px -146.66667px #00ff9d, -34px -352.66667px #37ff00, -175px 66.33333px #00aeff, -45px -233.66667px #7300ff, 86px -53.66667px #4000ff, -30px -394.66667px #1100ff, 92px 82.33333px #4dff00, 171px 9.33333px #ff1e00, 106px -92.66667px #99ff00, -93px -311.66667px #ae00ff, 245px 37.33333px #eeff00, -195px -320.66667px #ffbb00, -85px -357.66667px #00fff2, 2px -215.66667px #ff0400, 24px -110.66667px #00ffe1, 225px -342.66667px #0011ff, -174px 2.33333px #88ff00; } }

@-moz-keyframes bang {
  to {
    box-shadow: -74px -40.66667px #ffe100, -231px -168.66667px #00e6ff, -54px -351.66667px #001eff, 50px -289.66667px #ff0040, 160px -345.66667px #ff6200, -34px -6.66667px #ff00e1, -76px -371.66667px #00ffee, 127px -245.66667px #77ff00, 193px -180.66667px #ff0077, -187px -63.66667px #00ff77, -1px -208.66667px #0011ff, 24px 26.33333px #11ff00, -42px -262.66667px #15ff00, 243px -315.66667px #00ff1a, -33px -102.66667px #ff0037, -213px -299.66667px #ff0091, -222px -378.66667px #ae00ff, 9px 77.33333px #00ffe1, -205px 24.33333px #8800ff, -75px -373.66667px #ff00e1, -158px -35.66667px deepskyblue, 158px -229.66667px #22ff00, 220px -209.66667px #04ff00, -227px -292.66667px #00ff59, 238px -344.66667px #ff6200, -30px -95.66667px #ff004d, -28px -50.66667px #ee00ff, 185px -391.66667px #ff6200, 44px -23.66667px #ff00bb, -117px -222.66667px #3c00ff, 245px -8.66667px #ffcc00, -12px -35.66667px #00fbff, 231px -395.66667px magenta, -140px -127.66667px #00ffa6, -34px -146.66667px #00ff9d, -34px -352.66667px #37ff00, -175px 66.33333px #00aeff, -45px -233.66667px #7300ff, 86px -53.66667px #4000ff, -30px -394.66667px #1100ff, 92px 82.33333px #4dff00, 171px 9.33333px #ff1e00, 106px -92.66667px #99ff00, -93px -311.66667px #ae00ff, 245px 37.33333px #eeff00, -195px -320.66667px #ffbb00, -85px -357.66667px #00fff2, 2px -215.66667px #ff0400, 24px -110.66667px #00ffe1, 225px -342.66667px #0011ff, -174px 2.33333px #88ff00; } }

@-o-keyframes bang {
  to {
    box-shadow: -74px -40.66667px #ffe100, -231px -168.66667px #00e6ff, -54px -351.66667px #001eff, 50px -289.66667px #ff0040, 160px -345.66667px #ff6200, -34px -6.66667px #ff00e1, -76px -371.66667px #00ffee, 127px -245.66667px #77ff00, 193px -180.66667px #ff0077, -187px -63.66667px #00ff77, -1px -208.66667px #0011ff, 24px 26.33333px #11ff00, -42px -262.66667px #15ff00, 243px -315.66667px #00ff1a, -33px -102.66667px #ff0037, -213px -299.66667px #ff0091, -222px -378.66667px #ae00ff, 9px 77.33333px #00ffe1, -205px 24.33333px #8800ff, -75px -373.66667px #ff00e1, -158px -35.66667px deepskyblue, 158px -229.66667px #22ff00, 220px -209.66667px #04ff00, -227px -292.66667px #00ff59, 238px -344.66667px #ff6200, -30px -95.66667px #ff004d, -28px -50.66667px #ee00ff, 185px -391.66667px #ff6200, 44px -23.66667px #ff00bb, -117px -222.66667px #3c00ff, 245px -8.66667px #ffcc00, -12px -35.66667px #00fbff, 231px -395.66667px magenta, -140px -127.66667px #00ffa6, -34px -146.66667px #00ff9d, -34px -352.66667px #37ff00, -175px 66.33333px #00aeff, -45px -233.66667px #7300ff, 86px -53.66667px #4000ff, -30px -394.66667px #1100ff, 92px 82.33333px #4dff00, 171px 9.33333px #ff1e00, 106px -92.66667px #99ff00, -93px -311.66667px #ae00ff, 245px 37.33333px #eeff00, -195px -320.66667px #ffbb00, -85px -357.66667px #00fff2, 2px -215.66667px #ff0400, 24px -110.66667px #00ffe1, 225px -342.66667px #0011ff, -174px 2.33333px #88ff00; } }

@-ms-keyframes bang {
  to {
    box-shadow: -74px -40.66667px #ffe100, -231px -168.66667px #00e6ff, -54px -351.66667px #001eff, 50px -289.66667px #ff0040, 160px -345.66667px #ff6200, -34px -6.66667px #ff00e1, -76px -371.66667px #00ffee, 127px -245.66667px #77ff00, 193px -180.66667px #ff0077, -187px -63.66667px #00ff77, -1px -208.66667px #0011ff, 24px 26.33333px #11ff00, -42px -262.66667px #15ff00, 243px -315.66667px #00ff1a, -33px -102.66667px #ff0037, -213px -299.66667px #ff0091, -222px -378.66667px #ae00ff, 9px 77.33333px #00ffe1, -205px 24.33333px #8800ff, -75px -373.66667px #ff00e1, -158px -35.66667px deepskyblue, 158px -229.66667px #22ff00, 220px -209.66667px #04ff00, -227px -292.66667px #00ff59, 238px -344.66667px #ff6200, -30px -95.66667px #ff004d, -28px -50.66667px #ee00ff, 185px -391.66667px #ff6200, 44px -23.66667px #ff00bb, -117px -222.66667px #3c00ff, 245px -8.66667px #ffcc00, -12px -35.66667px #00fbff, 231px -395.66667px magenta, -140px -127.66667px #00ffa6, -34px -146.66667px #00ff9d, -34px -352.66667px #37ff00, -175px 66.33333px #00aeff, -45px -233.66667px #7300ff, 86px -53.66667px #4000ff, -30px -394.66667px #1100ff, 92px 82.33333px #4dff00, 171px 9.33333px #ff1e00, 106px -92.66667px #99ff00, -93px -311.66667px #ae00ff, 245px 37.33333px #eeff00, -195px -320.66667px #ffbb00, -85px -357.66667px #00fff2, 2px -215.66667px #ff0400, 24px -110.66667px #00ffe1, 225px -342.66667px #0011ff, -174px 2.33333px #88ff00; } }

@keyframes bang {
  to {
    box-shadow: -74px -40.66667px #ffe100, -231px -168.66667px #00e6ff, -54px -351.66667px #001eff, 50px -289.66667px #ff0040, 160px -345.66667px #ff6200, -34px -6.66667px #ff00e1, -76px -371.66667px #00ffee, 127px -245.66667px #77ff00, 193px -180.66667px #ff0077, -187px -63.66667px #00ff77, -1px -208.66667px #0011ff, 24px 26.33333px #11ff00, -42px -262.66667px #15ff00, 243px -315.66667px #00ff1a, -33px -102.66667px #ff0037, -213px -299.66667px #ff0091, -222px -378.66667px #ae00ff, 9px 77.33333px #00ffe1, -205px 24.33333px #8800ff, -75px -373.66667px #ff00e1, -158px -35.66667px deepskyblue, 158px -229.66667px #22ff00, 220px -209.66667px #04ff00, -227px -292.66667px #00ff59, 238px -344.66667px #ff6200, -30px -95.66667px #ff004d, -28px -50.66667px #ee00ff, 185px -391.66667px #ff6200, 44px -23.66667px #ff00bb, -117px -222.66667px #3c00ff, 245px -8.66667px #ffcc00, -12px -35.66667px #00fbff, 231px -395.66667px magenta, -140px -127.66667px #00ffa6, -34px -146.66667px #00ff9d, -34px -352.66667px #37ff00, -175px 66.33333px #00aeff, -45px -233.66667px #7300ff, 86px -53.66667px #4000ff, -30px -394.66667px #1100ff, 92px 82.33333px #4dff00, 171px 9.33333px #ff1e00, 106px -92.66667px #99ff00, -93px -311.66667px #ae00ff, 245px 37.33333px #eeff00, -195px -320.66667px #ffbb00, -85px -357.66667px #00fff2, 2px -215.66667px #ff0400, 24px -110.66667px #00ffe1, 225px -342.66667px #0011ff, -174px 2.33333px #88ff00; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
