/* thanks to https://codepen.io/yshlin/pen/ylDEk */
.pyro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0; }

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: 147px 17.33333px #3cff00, -242px -18.66667px #a600ff, 68px -257.66667px #5100ff, -207px -167.66667px #00ff3c, 98px 9.33333px #0088ff, -56px -106.66667px #ff00a2, 187px -382.66667px #ffe600, -24px -66.66667px #d500ff, 55px -25.66667px #0022ff, -142px -204.66667px #ff00b3, -75px -47.66667px #ff00f7, -170px -159.66667px #f700ff, 214px 23.33333px #ff5900, 143px -305.66667px #ffa600, -189px -203.66667px #62ff00, -230px -253.66667px #4000ff, 184px -190.66667px #00ff4d, 149px 67.33333px #00ff1e, 56px -93.66667px #002bff, 50px -203.66667px #ff002b, 62px -244.66667px #00ffc4, -48px -193.66667px #00ffdd, -215px -329.66667px #ff003c, 123px -398.66667px #00eaff, -131px 62.33333px #f2ff00, -154px -376.66667px #00ffbb, -174px -389.66667px #ff0077, -40px -415.66667px #ff002b, 155px -265.66667px #008cff, 151px -94.66667px #ddff00, -67px -106.66667px #f2ff00, -22px -68.66667px #3cff00, -74px -75.66667px #ff0062, -228px -125.66667px #ffaa00, 180px -94.66667px #003cff, 235px -118.66667px #00c8ff, 108px 48.33333px deepskyblue, -106px -339.66667px #00ff2b, -68px -241.66667px #ff8800, -13px -257.66667px #00fffb, 207px -248.66667px #ff0048, 223px -112.66667px #00bbff, 121px -216.66667px #ff00a2, 50px -111.66667px #ff6f00, 163px -188.66667px #00ff77, 224px 45.33333px #ff5100, 173px -185.66667px #e600ff, 73px -65.66667px #ffd900, 202px -64.66667px #ff0077, -189px -246.66667px #b7ff00, -59px -326.66667px #aaff00; } }

@-moz-keyframes bang {
  to {
    box-shadow: 147px 17.33333px #3cff00, -242px -18.66667px #a600ff, 68px -257.66667px #5100ff, -207px -167.66667px #00ff3c, 98px 9.33333px #0088ff, -56px -106.66667px #ff00a2, 187px -382.66667px #ffe600, -24px -66.66667px #d500ff, 55px -25.66667px #0022ff, -142px -204.66667px #ff00b3, -75px -47.66667px #ff00f7, -170px -159.66667px #f700ff, 214px 23.33333px #ff5900, 143px -305.66667px #ffa600, -189px -203.66667px #62ff00, -230px -253.66667px #4000ff, 184px -190.66667px #00ff4d, 149px 67.33333px #00ff1e, 56px -93.66667px #002bff, 50px -203.66667px #ff002b, 62px -244.66667px #00ffc4, -48px -193.66667px #00ffdd, -215px -329.66667px #ff003c, 123px -398.66667px #00eaff, -131px 62.33333px #f2ff00, -154px -376.66667px #00ffbb, -174px -389.66667px #ff0077, -40px -415.66667px #ff002b, 155px -265.66667px #008cff, 151px -94.66667px #ddff00, -67px -106.66667px #f2ff00, -22px -68.66667px #3cff00, -74px -75.66667px #ff0062, -228px -125.66667px #ffaa00, 180px -94.66667px #003cff, 235px -118.66667px #00c8ff, 108px 48.33333px deepskyblue, -106px -339.66667px #00ff2b, -68px -241.66667px #ff8800, -13px -257.66667px #00fffb, 207px -248.66667px #ff0048, 223px -112.66667px #00bbff, 121px -216.66667px #ff00a2, 50px -111.66667px #ff6f00, 163px -188.66667px #00ff77, 224px 45.33333px #ff5100, 173px -185.66667px #e600ff, 73px -65.66667px #ffd900, 202px -64.66667px #ff0077, -189px -246.66667px #b7ff00, -59px -326.66667px #aaff00; } }

@-o-keyframes bang {
  to {
    box-shadow: 147px 17.33333px #3cff00, -242px -18.66667px #a600ff, 68px -257.66667px #5100ff, -207px -167.66667px #00ff3c, 98px 9.33333px #0088ff, -56px -106.66667px #ff00a2, 187px -382.66667px #ffe600, -24px -66.66667px #d500ff, 55px -25.66667px #0022ff, -142px -204.66667px #ff00b3, -75px -47.66667px #ff00f7, -170px -159.66667px #f700ff, 214px 23.33333px #ff5900, 143px -305.66667px #ffa600, -189px -203.66667px #62ff00, -230px -253.66667px #4000ff, 184px -190.66667px #00ff4d, 149px 67.33333px #00ff1e, 56px -93.66667px #002bff, 50px -203.66667px #ff002b, 62px -244.66667px #00ffc4, -48px -193.66667px #00ffdd, -215px -329.66667px #ff003c, 123px -398.66667px #00eaff, -131px 62.33333px #f2ff00, -154px -376.66667px #00ffbb, -174px -389.66667px #ff0077, -40px -415.66667px #ff002b, 155px -265.66667px #008cff, 151px -94.66667px #ddff00, -67px -106.66667px #f2ff00, -22px -68.66667px #3cff00, -74px -75.66667px #ff0062, -228px -125.66667px #ffaa00, 180px -94.66667px #003cff, 235px -118.66667px #00c8ff, 108px 48.33333px deepskyblue, -106px -339.66667px #00ff2b, -68px -241.66667px #ff8800, -13px -257.66667px #00fffb, 207px -248.66667px #ff0048, 223px -112.66667px #00bbff, 121px -216.66667px #ff00a2, 50px -111.66667px #ff6f00, 163px -188.66667px #00ff77, 224px 45.33333px #ff5100, 173px -185.66667px #e600ff, 73px -65.66667px #ffd900, 202px -64.66667px #ff0077, -189px -246.66667px #b7ff00, -59px -326.66667px #aaff00; } }

@-ms-keyframes bang {
  to {
    box-shadow: 147px 17.33333px #3cff00, -242px -18.66667px #a600ff, 68px -257.66667px #5100ff, -207px -167.66667px #00ff3c, 98px 9.33333px #0088ff, -56px -106.66667px #ff00a2, 187px -382.66667px #ffe600, -24px -66.66667px #d500ff, 55px -25.66667px #0022ff, -142px -204.66667px #ff00b3, -75px -47.66667px #ff00f7, -170px -159.66667px #f700ff, 214px 23.33333px #ff5900, 143px -305.66667px #ffa600, -189px -203.66667px #62ff00, -230px -253.66667px #4000ff, 184px -190.66667px #00ff4d, 149px 67.33333px #00ff1e, 56px -93.66667px #002bff, 50px -203.66667px #ff002b, 62px -244.66667px #00ffc4, -48px -193.66667px #00ffdd, -215px -329.66667px #ff003c, 123px -398.66667px #00eaff, -131px 62.33333px #f2ff00, -154px -376.66667px #00ffbb, -174px -389.66667px #ff0077, -40px -415.66667px #ff002b, 155px -265.66667px #008cff, 151px -94.66667px #ddff00, -67px -106.66667px #f2ff00, -22px -68.66667px #3cff00, -74px -75.66667px #ff0062, -228px -125.66667px #ffaa00, 180px -94.66667px #003cff, 235px -118.66667px #00c8ff, 108px 48.33333px deepskyblue, -106px -339.66667px #00ff2b, -68px -241.66667px #ff8800, -13px -257.66667px #00fffb, 207px -248.66667px #ff0048, 223px -112.66667px #00bbff, 121px -216.66667px #ff00a2, 50px -111.66667px #ff6f00, 163px -188.66667px #00ff77, 224px 45.33333px #ff5100, 173px -185.66667px #e600ff, 73px -65.66667px #ffd900, 202px -64.66667px #ff0077, -189px -246.66667px #b7ff00, -59px -326.66667px #aaff00; } }

@keyframes bang {
  to {
    box-shadow: 147px 17.33333px #3cff00, -242px -18.66667px #a600ff, 68px -257.66667px #5100ff, -207px -167.66667px #00ff3c, 98px 9.33333px #0088ff, -56px -106.66667px #ff00a2, 187px -382.66667px #ffe600, -24px -66.66667px #d500ff, 55px -25.66667px #0022ff, -142px -204.66667px #ff00b3, -75px -47.66667px #ff00f7, -170px -159.66667px #f700ff, 214px 23.33333px #ff5900, 143px -305.66667px #ffa600, -189px -203.66667px #62ff00, -230px -253.66667px #4000ff, 184px -190.66667px #00ff4d, 149px 67.33333px #00ff1e, 56px -93.66667px #002bff, 50px -203.66667px #ff002b, 62px -244.66667px #00ffc4, -48px -193.66667px #00ffdd, -215px -329.66667px #ff003c, 123px -398.66667px #00eaff, -131px 62.33333px #f2ff00, -154px -376.66667px #00ffbb, -174px -389.66667px #ff0077, -40px -415.66667px #ff002b, 155px -265.66667px #008cff, 151px -94.66667px #ddff00, -67px -106.66667px #f2ff00, -22px -68.66667px #3cff00, -74px -75.66667px #ff0062, -228px -125.66667px #ffaa00, 180px -94.66667px #003cff, 235px -118.66667px #00c8ff, 108px 48.33333px deepskyblue, -106px -339.66667px #00ff2b, -68px -241.66667px #ff8800, -13px -257.66667px #00fffb, 207px -248.66667px #ff0048, 223px -112.66667px #00bbff, 121px -216.66667px #ff00a2, 50px -111.66667px #ff6f00, 163px -188.66667px #00ff77, 224px 45.33333px #ff5100, 173px -185.66667px #e600ff, 73px -65.66667px #ffd900, 202px -64.66667px #ff0077, -189px -246.66667px #b7ff00, -59px -326.66667px #aaff00; } }

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
