@import '_variables.scss';
// animations
@import '../node_modules/animate-sass/animate';

// hero
.home-hero {
  &,
  &::before {
    height: calc(100vh - #{$navbar-height});
  }
}
.home-hero {
  background-color: #95b6e3;
}

.home-hero::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  background: url('/silhouette.png') no-repeat;
  background-size: cover;
  background-position: center top;
  filter: brightness(60%);
  animation: fade-slide-up 1s 0s cubic-bezier(0.09, 1.02, 0.66, 0.83) forwards;
  opacity: 0;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.home-hero .hero-body {
  padding: 0 $column-gap;
  max-width: 500px;
}

.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-hero .hero-body .title {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-transform: lowercase;

  @extend .appear-animation;
}
.appear-animation {
  animation: pop-in 0.5s 0.5s ease-out forwards;
  opacity: 0;
}

.home-hero .hero-body .subtitle a,
.home-hero .hero-body .subtitle span,
.home-hero .hero-body .button {
  @extend .appear-animation;
}
.home-hero .hero-body .subtitle a {
  animation-delay: 1.3s !important;
}

.home-hero .hero-body .subtitle span {
  animation-delay: 2s;
}

.home-hero .hero-body .button {
  animation-delay: 2.7s;
}

@keyframes pop-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.home-hero .hero-body .subtitle {
  font-size: 1.2rem;
  color: #ffffffb3;

  a {
    text-decoration: underline;
  }
}

.home-page {
  background-color: $secondary;
}
.home-page .navbar {
  box-shadow: none !important; // added by .card
}
// /hero

.navbar,
.home-hero .title {
  font-family: $fancy-font;
}

.navbar {
  padding-left: $column-gap;
  padding-right: $column-gap;
}

// bulma's is-transparent is misleading
.navbar.is-transparent {
  background-color: transparent;
}

// in fast connections loading message would look like a flick
// so we only show if the user has seen it for >1s
.loading-wrapper {
  opacity: 0;

  animation: dummy 0.5s ease-out forwards;
  animation-delay: 1s;
}

@keyframes dummy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// GAME PAGE

// picking settings
.game-page {
  .panel {
    background-color: #fff;

    .field.has-addons .control:first-child {
      flex: 1;
    }
    .list-item {
      padding-left: 0;
    }

    .conjugation-title {
      .label {
        line-height: 1;
        margin-bottom: 0;
      }
    }
  }
}

@function paperShadow($depth) {
  $val: 0 0px 1px rgba(0, 0, 0, 0.15);
  @for $i from 1 through $depth {
    $v-offset: 10 * $i;
    $spread-radius-layer: $v-offset / 2;
    $spread-radius-shadow: $spread-radius-layer - 1;
    //Create new layer
    $val: #{$val}, 0 #{$v-offset}px 0 -#{$spread-radius-layer}px #eee;
    //Create shadow for layer
    $val: #{$val},
      0 #{$v-offset}px 1px -#{$spread-radius-shadow}px rgba(0, 0, 0, 0.15);
  }
  @return $val;
}

// game per se
.game-page {
  // a static width needs to be set
  // since the phantom card uses position absolute
  .card.game-card,
  .cards-wrapper {
    width: 300px;
  }
  @media (min-width: 450px) {
    .card.game-card,
    .cards-wrapper {
      width: 400px;
    }
  }

  .cards-wrapper {
    position: relative;
    margin: 0 auto;
  }
  .game-card {
    margin: 0 auto;

    &.wrong {
      @extend .animated;
      @extend .shake;
    }

    .field-label {
      flex-grow: 0;
    }
    // https://css-tricks.com/snippets/css/stack-of-paper/
    // 3 or more cards
    &.stacked-n {
      box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */ 0 10px 0 -5px #eee,
        /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */ 0 20px 0 -10px #eee,
        /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
      box-shadow: paperShadow(6);
    }

    &.stacked-2 {
      box-shadow:/* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
        /* The second layer */ 0 10px 0 -5px #eee,
        /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15);
    }

    &.stacked-3 {
      box-shadow: paperShadow(3);
    }
    &.stacked-4 {
      box-shadow: paperShadow(4);
    }
    &.stacked-5 {
      box-shadow: paperShadow(5);
    }
    &.stacked-6 {
      box-shadow: paperShadow(6);
    }

    .give-up {
      width: 40px;
      height: 41px;
      padding: 8px;
      margin-left: 0.5rem;
      border: 0px;
    }

    .is-horizontal {
      // bulma turns off is-horizontal for mobile
      display: flex;
      .field-body {
        flex: 1;
      }
    }

    @media (max-width: 768px) {
      .field-label {
        line-height: 40px;
        margin-right: 1rem;
      }
      .give-up {
        // padding is enough
        margin-left: 0.5rem;
      }

      .card-content {
        padding: 0.75rem;
      }
    }
  }

  .game-card .card-header-title > * {
    width: 100%;
  }

  .phantom .game-card {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .victory {
    @extend .animated;
    @extend .zoomIn;

    background-color: #fff;

    .message-header {
      @extend .is-size-3;
      @extend .is-family-secondary;
    }
  }
}
